@font-face {
	font-family: "MonsterHuntertype2";
	src: url("fonts/Monster-hunter-type-2.ttf");
	font-weight: normal;
	font-style: normal;
}

.videomhw {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}
h1 {
	font-family: "MonsterHuntertype2", sans-serif;
	text-shadow: 0 0 10px #23501d;
	margin-bottom: 8px;
}
#chassonsbutton:hover {
	background-color: rgb(21, 90, 21);
}
.icon-placeholder2 {
	height: 400px;
	width: 400px;
	background-color: #456990;
	border-radius: 5%;
	margin-bottom: 24px;
	display: flex;
	justify-content: center;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.monster-icon {
	width: 90%;
	height: 90%;
	align-self: center;
}

.bothicons {
	position: relative;
}
.weapon-container {
	height: 100px;
	width: 100px;
	position: absolute;
	top: 3%;
	right: 3%;
}

.weaponimg {
	width: 100%;
}
.weapon-description {
	height: 200px;
	width: 350px;
	background-color: rgba(35, 23, 23, 0.5);
	position: relative;
	left: 200px;
	bottom: 50px;
	border-radius: 30px;
	padding: 8px;
}
